{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block extra_style %}
        <link rel="stylesheet" href="{% static 'css/auth_accounts.css' %}">
    {% endblock %}
<div class="auth-container">
    <div class="auth-form">
        <h1>USER LOGIN</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <i class="user-icon"></i>
                <input type="text" name="username" placeholder="Email ID" required>
            </div>
            <div class="form-group">
                <i class="lock-icon"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            {% if form.errors.password.0   %}
                            <div class="invalid-feedback">
                                {{ form.errors.password.0 }}
                            </div>
            {% endif %}
            {% if form.non_field_errors.0 %}
                            <div class="invalid-feedback">
                                {{ form.non_field_errors.0 }}
                            </div>
            {% endif %}
            <div class="form-options">
                <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>
            </div>
            <button type="submit" class="login-btn">LOGIN</button>
        </form>
        <a href="{% url 'register' %}" class="register-btn">REGISTER</a>
    </div>
</div>
{% endblock %}