{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block extra_style %}
        <link rel="stylesheet" href="{% static 'css/auth_accounts.css' %}">
    {% endblock %}
    <div class="auth-container">
        <div class="auth-form">
            <h1>REGISTER</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <i class="user-icon"></i>
                    <input type="text" name="username" placeholder="Username"
                           value="{{ form.username.value|default:'' }}" required>
                </div>
                {% if form.errors.username.0 %}
                    <div class="invalid-feedback">
                        {{ form.errors.username.0 }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <i class="email-icon"></i>
                    <input type="email" name="email" placeholder="Email ID" value="{{ form.email.value|default:'' }}"
                           required>
                </div>
                {% if form.errors.email.0 %}
                    <div class="invalid-feedback">
                        {{ form.errors.email.0 }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <i class="lock-icon"></i>
                    <input type="password" name="password1" placeholder="Password" required>
                </div>
                {% if form.errors.password1.0 %}
                    <div class="invalid-feedback">
                        {{ form.errors.password1.0 }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <i class="lock-icon"></i>
                    <input type="password" name="password2" placeholder="Confirm Password" required>
                </div>
                {% if form.errors.password2.0 %}
                    <div class="invalid-feedback">
                        {{ form.errors.password2.0 }}
                    </div>
                {% endif %}
                <button type="submit" class="login-btn">REGISTER</button>
            </form>
            <a href="{% url 'login' %}" class="register-btn">BACK TO LOGIN</a>
        </div>
    </div>
{% endblock %}